@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  /* background: #833AB4; */
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 34%, rgba(252, 176, 69, 1) 91%);
}